* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------header style-----------------  */
header {
  background: rgba(229, 84, 115, 0.1);
  width: auto;
  height: 850px;
  display: flex;
  justify-content: space-around;
}
header div {
  margin: 200px;
}
header div h1 {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
header div p {
  margin: 35px 0px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

header div button {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  background: #e55473;
}

/* -------------start main section style---------- */

.section-1 {
  margin: 180px 240px;
  text-align: center;
}
.info h1 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.info p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 25px 0px 48px 0px;
}

/* ==============flower card style========= */

.flower-card {
  display: flex;
  justify-content: space-evenly;
  margin-right: -71px;
}
.card-1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.card-2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.card-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 464px;
  height: 538px;
}
.img-1 {
  margin-top: 109px;
}
.img-2 {
  margin-top: 145px;
}
.img-3 {
  margin-top: 68px;
}
.flower h4 {
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
  text-decoration-line: underline;
}

/* ---------------support card style--------- */

.support {
  display: flex;
  margin-top: 128px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  justify-content: space-evenly;
}
.support div {
  margin: 86px 0px;
}
.support div p {
  margin-top: 24px;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 145.833% */
}
/* =================section-2 style============ */

.section-2 {
  display: flex;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  justify-content: space-evenly;
  text-align: center;
  width: auto;
}
.section-2 div {
  margin-top: 230px;
  text-align: center;
}
.section-2 div h1 {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.section-2 div p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 25px;
}
.section-2 div button {
  border: none;
  color: #fff;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
}
.section-2 img {
  margin: 100px 0px;
}

/* ---------------section 3 style============== */

.section-3 {
  margin: 128px 240px;
  text-align: center;
}
.section-3 h1 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.section-3 .p-1 {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 24px 0px 48px 0px;
}
.section-3 img {
  margin-right: 10px;
}

.email-store {
  background-image: url("./Flower Asset/Rectangle 9.png");
  margin: 128px 0px;
  padding: 122px 247px;
}
.email-store h1 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.email-store p {
  margin: 10px 0px 48px 0px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.email-store input {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  background: #fff;
  padding: 22px;
  border: none;
}
.email-store button {
  border: none;
  margin-left: 5px;
  width: 150px;
  height: 64px;
  /* padding: 24px; */
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ------------footer style==============  */
footer {
  background: #111010;
  text-align: center;
  width: auto;
  height: 449px;
  padding: 128px 0px;
}
footer h1 {
  color: #fff;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
footer .p-2 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 24px 0 32px 0;
}
footer .p-3 {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
